{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div id="user-form-new">
    {{ form_start(form, {'action' : path('user_submit_new') }) }}
    <div class="form-group">
        <label class="required">Выберите картинку материала</label>
        <div>
            <div class="file-container">
                <input type="file" name="ImageFile" id="ImageFile" class="fileAjax" {{ edit is not defined ? 'required' : '' }} >
                <br />
                <br />
                <div class="fileDoc">
                    <img src="" brightness="0" contrast="0" style="max-width: 100%;">
                </div>
                <div class="navigateFile"  style="display: none">
                    <button type="button" class="btn -btn-default rotateLeft"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button type="button" class="btn btn-default cropImage"><span class="glyphicon glyphicon-picture"></span></button>
                    <button type="button" class="btn -btn-default rotateRight"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <input type="hidden" id="x1" name="x1">
                <input type="hidden" id="y1" name="y1">
                <input type="hidden" id="x2" name="x2">
                <input type="hidden" id="y2" name="y2">
                <input type="hidden" id="thumbail" name="thumbail">
                <input type="hidden" id="turn" name="turn" value="0">
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>