<div class="bg-gray"></div>
<div class="custom-banner">
    <div class="title">Медицинский альманах</div>
    <div class="right text-left">
        <div class="firsttxt">
            <div>Здравствуйте,</div>
            <div style="text-align: right">уважаемый врач</div>
        </div>
        <br />
        <div style="font-size: 15px;">
            <div  style="font-size: 18px">
                <strong style="font-size: 18px;">Представляем Вам новый портал.</strong>
                <br />
                Здесь Вы можете увидеть:
            </div>
            <ul style="font-size: 18px">
                <li><span>Календарь медицинских мероприятий, курсов, ФПДО, форумов</span></li>
                <li><span>Последние новости в сфере медицины</span></li>
                <li><span>Большое количество инструментов, которые помогут Вам в Вашей работе</span></li>
            </ul>
        </div>
        <br />
    </div>
    <div class="red">
        <b style="font-size: 14px">
            Наш сайт предназначен исключительно для врачей.<br />
            Если Вы не являетесь врачем или медицинским представителем, просим Вас покинуть наш сайт.
        </b>
    </div>
    <br />
    <button class="btn btn-danger" id="login" style="text-transform: uppercase">Зарегистрироваться</button> <a href="#" style="display: inline-block; margin-left: 20px">Закрыть баннер</a>
</div>