{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="title"><div>Отписка от рассылки</div></div>

    <div class="alert alert-info">
        Вы успешно отписались от рассылки
    </div>
{% endblock %}

