{% extends '@App/layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        #feed table, #feed table tr, #feed table tr td {
            border: 1px solid #000000;
        }
    </style>
{% endblock %}

{% block seo %}
    <title>Медицинские сокращения и термины</title>
    <meta name="description" content="Медицинские сокращения с расшивровкой и термины для врачей на сайте agronizer.ru"/>
{% endblock %}


{% block content %}
    <div class="title"><h1>Медицинские сокращения и термины</h1></div>
    <ol class="breadcrumb">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="/"><span itemprop="title">Главная</span></a></li>
        <li class="active">Медицинские сокращения и термины</li>
    </ol>
    <table class="table">
        <tr>
            <th><b>Сокращение</b></th>
            <th><b>Рашифровка на (англ)</b></th>
            <th><b>Рашифровка на (рус)</b></th>
        </tr>
        {% for a in abbs %}
            <tr>
                <td><b>{{ a.name }}</b></td>
                <td>{{ a.en[0] is defined ? a.en[0] : '-' }}</td>
                <td>{{ a.ru[0] is defined ? a.ru[0] : '-' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}