{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-sm-12">
                <div class="title text-uppercase"><div>НОВОСТИ МЕДИЦИНЫ</div></div>
                <div style="padding-left: 50px">
                    {% for n in news %}
                        {{ include('@App/Publication/publication.item.html.twig',{'publication' : n}) }}
                    {% endfor %}
                    <nav>
                        {{ knp_pagination_render(news) }}
                    </nav>
                </div>
            </div>
        </div>
{% endblock %}