{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="col-lg-offset-1 col-lg-10 text-uppercase" style="padding-right: 0">
        <div class="title"><div>{{ page.title }}</div></div>
        <div>
            {{ page.body | raw }}
        </div>
    </div>
{% endblock %}