{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <br />
    <br />
    <div class="title text-center"><h1>Переход на страницу "Конкурс клинических наблюдений" <br /> произойдет через <span id="sec">5</span> сек.</h1></div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var sec = 5;
            var timerId = setInterval(function () {
                sec = sec - 1;
                $('#sec').html(sec);
                if (sec <= 0){
                    window.location.href = "http://doctor-konkurs.ru/?utm_source=agronizer.ru&utm_medium=banner&utm_campaign=banner_ad";
                }
            }, 1000);
        })
    </script>
{% endblock %}